<ion-header class="ion-no-border">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://i.pinimg.com/originals/39/73/a9/3973a9da62f8e3d6d6af35fbd9007e49.jpg">
  <ion-list class="ion-padding-bottom">
    <ion-item lines="none">
      <ion-thumbnail slot="start" class="ion-margin-top">
        <ion-skeleton-text class="skeleton-rounded"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        Usuário
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-item lines="none">
        <ion-card-title>
          Interesses do Usuário:
          <ion-skeleton-text ></ion-skeleton-text>
        </ion-card-title>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Filosofia
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Sociologia
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Marxismo
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Adam Smith
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          John Locke
        </ion-label>
      </ion-item>
    </ion-card>
    
    
    <ion-card>
      <ion-item lines="none">
        <ion-card-title>
          Usuários Políticos que Usuário segue:
          <ion-skeleton-text ></ion-skeleton-text>
        </ion-card-title>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Bolsonaro
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Lula
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Joe Biden
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Trump
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>
          Boris Johnson
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>